{{- $popular := where (where .Site.RegularPages "Type" "article") "Params.popular" true }}
{{- $popular_num := (.Site.Params.widgets.popular_num | default 10) }}

{{- if $popular }}
<div class="widget-popular widget">
	<div class="widget__title">{{ T "popular_title" }}</div>
	<div class="widget__content">
		<ul class="widget__list">
			{{- range first $popular_num $popular }}
			<li class="widget__item"><a class="widget__link" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
			{{- end }}
		</ul>
	</div>
</div>
{{- end }}
