<article class="list__item post">
	{{- if .Params.thumbnail }}
	<picture class="list__thumbnail">
		{{/* Resize to smaller image for faster loading */}}
		{{ $image_path := .Params.thumbnail | relURL }}
		{{ .Scratch.Set "src" (resources.GetMatch $image_path) }}
		{{ if not (.Scratch.Get "src") }}
		    {{/* No matching global resource, so next check page resources */}}
		    {{ .Scratch.Set "src" (.Page.Resources.GetMatch .Params.thumbnail ) }}
		{{ end }}
		{{ $src := .Scratch.Get "src" }}
		{{ $webp := $src.Resize "360x webp" }}
		<source type="image/webp" srcset="{{ $webp.RelPermalink }}">
		{{/* In case the browser doesn't do webp, provide a fallback image */}}
		{{ $fallback := $src.Resize "360x q85 Box" }}
		<img alt="{{ .Params.thumbnail_alt }}"
                 src="{{ $fallback.RelPermalink }}"
                 width="{{ $fallback.Width }}"
                 height="{{ $fallback.Height }}"
		>
	</picture>
	{{- end }}
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="{{ .RelPermalink }}" rel="bookmark">
			{{ .Title }}
			</a>
		</h2>
		{{- with .Params.lead }}
		<p class="list__lead post__lead">{{ . }}</p>
		{{- end }}
		{{ with partial "post_meta.html" . -}}
		<div class="list__meta meta">{{ . }}</div>
		{{- end }}
	</header>
	<div class="content list__excerpt post__content clearfix">
		{{ .Summary }}
	</div>
	{{- if .Site.Params.readmore }}
	{{- if .Truncated }}
	<div class="list__footer clearfix">
		<a class="list__footer-readmore btn" href="{{ .RelPermalink }}" rel=”nofollow”>{{ T "read_more" }}</a>
	</div>
	{{- end }}
	{{- end }}
</article>
