<article class="list__item post">
	{{- if .Params.thumbnail }}
	<figure class="list__thumbnail">
		<a href="{{ .Permalink }}">
			{{/* Resize to smaller image for faster loading */}}
			{{ $image_path := .Params.thumbnail | relURL }}
			{{ .Scratch.Set "src" (resources.GetMatch $image_path) }}
			{{ if not (.Scratch.Get "src") }}
			    {{/* No matching global resource, so next check page resources */}}
			    {{ .Scratch.Set "src" (.Page.Resources.GetMatch .Params.thumbnail ) }}
			{{ end }}
			{{ $src := .Scratch.Get "src" }}
			{{ $small := $src.Resize "360x q85 Box" }}
			<img alt="{{ .Title }}" src="{{ $small.RelPermalink }}" >
		</a>
	</figure>
	{{- end }}
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="{{ .RelPermalink }}" rel="bookmark">
			{{ .Title }}
			</a>
		</h2>
		{{- with .Params.lead }}
		<p class="list__lead post__lead">{{ . }}</p>
		{{- end }}
		{{ with partial "post_meta.html" . -}}
		<div class="list__meta meta">{{ . }}</div>
		{{- end }}
	</header>
	<div class="content list__excerpt post__content clearfix">
		{{ .Summary }}
	</div>
	{{- if .Site.Params.readmore }}
	{{- if .Truncated }}
	<div class="list__footer clearfix">
		<a class="list__footer-readmore btn" href="{{ .RelPermalink }}">{{ T "read_more" }}</a>
	</div>
	{{- end }}
	{{- end }}
</article>
