<!-- Check all entries to see if any of them are children of the given entries -->
{{ $sdcp := $.SiteDataComments_parent }}
{{ range $index, $comments := (index $.SiteDataComments_parent $.entryId_parent ) }}
  {{ if eq .reply_to $.parentId }}
    <div class="post-comment-reply">
      <div class="post-comment-header">
        <img class="post-comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=100">
        <p class="post-comment-info"><strong>{{ .name }}</strong><br><i><small>In reply to {{ $.parentName }}</i></small><br>{{ dateFormat "Monday, Jan 2, 2006" .date }}</p>
      </div>
      <div class="post-comment-reply-button">
        <a id="{{ ._id }}" class="btn-info" href="#comment-form" onclick="changeValue('fields[reply_to]', '{{ ._id }}')">Reply to {{ .name }}</a>
      </div>
      {{ .body | markdownify }}
    </div>
  {{ partial "comments/comment-replies" (dict "entryId_parent" $.entryId_parent "SiteDataComments_parent" $sdcp "parentId" ._id "parentName" .name "context" .) }}
  {{ end }}
{{ end }}
